
body{
	background-color: #ffffff!important;
}
.card{
	border-radius: 1.25rem!important;
}
.card-header{
	background-image: radial-gradient(circle at 50% -5.03%, #d0fff8 0, #bdfff6 10%, #a6fff4 20%, #8cfff3 30%, #6cfbf2 40%, #3cf2f2 50%, #00e8f3 60%, #00dff5 70%, #00d7f9 80%, #00cefd 90%, #00c6ff 100%);
	
	border-radius: calc(1.25rem - 1px) calc(1.25rem - 1px) 0 0 !important;
}

#footer{
	background-color: #040D50;
	color: white; 
}
#texto-borde {
  -webkit-text-stroke: 0.2px white;
  color: transparent; 
}
