<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="layout/head :: head">
		<meta content="text/html" charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div class="container">
			<div th:if="${msjEliminar!=null}" class="alert alert-danger alert-dismissible fade show col-md-11 ms-1" role="alert">
				<div class="d-flex align-items-center">
					<i class="bi bi-exclamation-triangle-fill"></i>
					<h4 class="alert-heading ps-2">Atencion!!</h4>
				</div>
				<p th:text="${msjEliminar}"></p>
				<hr>
				<a class="alert-link" th:href="@{/testeos/eliminar/}+${documento}">Confirmar</a>
				<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
			</div>
			<a th:href="@{/testeos/nuevo}" class="ms-2">
				<button type="button" class="btn btn-primary btn-sm">Registrar nuevo Testeo</button>
			</a>
			<div class="row justify-content-md-center">
				<div class="col-md-10 ">
					<div class="card mt-4 mb-5 shadow-lg">
						<div class="card-header text-center text-white">
							<h2>Buscar Personas Testeadas</h2>
						</div>
						<div class="card-body">
							<form th:action="@{/testeos/buscar}" th:object="${personaTesteada}" method="GET">
								<div class="row g-3">
									<div class="col-md-5">
										<label for="resultado" class=" fw-bold mx-4">Resultado</label>
										<input type="text" class="form-control rounded-pill" th:field="*{resultado}" id="resultado" placeholder="Ingrese resultado" title="Ingrese resultado (positivo - negativo)">
									</div>
									<div class="col-md-5">
										<label for="barrio" class="fw-bold mx-4">Barrio</label>
										<input type="text" class="form-control rounded-pill" th:field="*{barrio.nombre}" id="barrio" placeholder="Ingrese un barrio" title="Ingrese un barrio">
									</div>
									<div class="col-md-2">
									   <button type="submit" class="btn btn-primary mt-4">Buscar</button>
								   </div>
								</div>
							</form>
						</div>
					</div>			
				</div>
				<div class="table-responsive">
					<h2 class="p-2 fw-bolder">Lista de Personas Testeadas</h2>
					<table class="table table-bordered table-hover table align-middle">
					 	<thead class="text-center table-light fs-5">
							<tr>
	                        	<th scope="col">Nombre</th>
								<th scope="col">Apellido</th>
								<th scope="col">D.N.I.</th>
								<th scope="col">Telefono</th>
								<th scope="col">Email</th>
								<th scope="col">Barrio</th>
								<th scope="col">Dirección</th>
								<th scope="col">Resultado</th>
								<th scope="col">Fecha y Hora</th>
								<th scope="col">Personal a cargo </th>
								<th scope="col">Acciones</th>
	                        </tr>		
					  	</thead>
					  	<tbody>
					    	<tr th:each="testeos:${personasTesteadas}" class="text-center">
								<td th:text="${testeos.nombre}"></td>
								<td th:text="${testeos.apellido}" ></td>
								<td th:text="${testeos.documento}" ></td>
								<td th:text="${testeos.telefono}" ></td>
								<td th:text="${testeos.email}" ></td>
								<td th:text="${testeos.barrio.nombre}"></td>
								<td th:text="${testeos.direccion}" ></td>
								<td th:text="${testeos.resultado}" ></td>
								<td th:text="${testeos.fechaHora}" ></td>
								<td th:text="${testeos.personalSalud.apellido}+' '+${testeos.personalSalud.nombre}"></td>
	                            <td >
									<div class="btn-group btn-group-sm" role="group">
										<a th:href="@{/testeos/editar/}+${testeos.documento}" type="button">
											<i class="bi bi-pencil-fill pe-2"></i>
										</a>
										<a th:href="@{/testeos/seleccionar/}+${testeos.documento}" type="button">
											<i class="bi bi-trash-fill ps-1" style="color:red"></i>	
										</a>		
									</div>
								</td>                            
	                   	 	</tr>
					  	</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>