<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="layout/head :: head">
		<meta content="text/html" charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
	</head>
	<body>
		<div></div>
		<div th:if="${mensaje!=null}" class="alert alert-success alert-dismissible fade show" role="alert">
		  	<strong th:text="${mensaje}"></strong><a class="alert-link" href="/vacunaciones/lista"> Ver tabla</a>
			<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
		</div>
		<div class="container">
			<div class= "row justify-content-md-center">
				<div class= "col-md-9">
					<div class="card col-md-11">
						<h2 class="card-header text-center fw-bold">Registro de Personas Vacunadas</h2>
					  	<div class="card-body">
					    	<form th:action="@{/vacunaciones/guardar}" th:object="${vacunacionPersona}" method="POST" enctype="multipart/form-data">
					    		<div class="row mb-3">
									<label for="nombre" class="col-sm-3 col-form-label fw-bold ps-4">Nombre</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('nombre')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{nombre}" ></span>
										</div>
								    	<input type="text" class="form-control rounded-pill" th:field="*{nombre}" id="nombre" placeholder="Ingrese su nombre/s." title="Ingrese su nombre/s"> 									    	
								    </div>
								</div>
								<div class="row mb-3">
									<label for="apellido" class="col-sm-3 col-form-label fw-bold ps-4">Apellido</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('apellido')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{apellido}" ></span>
										</div>
								    	<input type="text" class="form-control rounded-pill" th:field="*{apellido}" id="apellido" placeholder="Ingrese su apellido/s." title="Ingrese su apellido/s."> 									    	
								    </div>
								</div>
								<div class="row mb-3">
									<label for="dni" class="col-sm-3 col-form-label fw-bold ps-4">D.N.I.</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('documento')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{documento}" ></span>
										</div>
								    	<input type="text" class="form-control rounded-pill" th:field="*{documento}" id="dni" placeholder="Ingrese su número de documento." title="Ingrese su número de documento."> 									    	
								    </div>
								</div>
								<div class="row mb-3">
									<label for="telefono" class="col-sm-3 col-form-label fw-bold ps-4">Teléfono</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('telefono')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{telefono}" ></span>
										</div>
								    	<input type="number" class="form-control rounded-pill" th:field="*{telefono}" id="numtel" placeholder="Ingrese su número telefonico." title="Ingrese su número telefonico."> 									    	
								    </div>
								</div>
								<div class="row mb-3">
									<label for="email" class="col-sm-3 col-form-label fw-bold ps-4">Email</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('email')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{email}" ></span>
										</div>
								    	<input type="email" class="form-control rounded-pill" th:field="*{email}" id="email" placeholder="Ingrese su correo electronico." title="Ingrese su correo electronico."> 									    	
								    </div>
								</div>
								<div class="row mb-3">
									<label for="barrio" class="col-sm-3 col-form-label fw-bold ps-4">Barrio</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('barrio')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{barrio}" ></span>
										</div>
								    	<select class="form-select rounded-pill" id="barrio" th:field="*{barrio}">
								    		<option value="">Seleccione una opción.</option>
											<option th:each="barrio : ${barrios}" th:value="${barrio.nombre}" th:text="${barrio.nombre}"></option>
										</select>
								    </div>
								</div>
								<div class="row mb-3">
									<label for="direc" class="col-sm-3 col-form-label fw-bold ps-4">Dirección</label>
									<div class="col-sm-9">
										<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('direccion')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{direccion}" ></span>
										</div>
										<input type="text" class="form-control rounded-pill" th:field="*{direccion}" id="direccion" placeholder="Ingrese su dirección." title="Ingrese su dirección.">																
									</div>
								</div>
								<div class="row mb-3">
									<label for="vacuna" class="col-sm-3 col-form-label fw-bold ps-4">Vacuna</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('vacuna')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{vacuna}" ></span>
										</div>
								    	<select class="form-select rounded-pill" id="barrio" th:field="*{vacuna}">
								    		<option value="">Seleccione una opción.</option>
											<option th:each="vacuna : ${vacunas}" th:value="${vacuna.nombre}" th:text="${vacuna.nombre}"></option>
										</select>
								    </div>
								</div>
								<div class="row mb-3">
									<label for="perSalud" class="col-sm-3 col-form-label fw-bold ps-4">Personal de salud a cargo</label>
								    <div class="col-sm-9">
								    	<!-- Message validation -->
										<div class="d-flex align-items-center" th:if="${#fields.hasErrors('personalSalud')}">
											<i class="bi bi-exclamation-circle ps-2" style="color:red"></i>
											<span class="form-text text-danger ps-1" th:errors="*{personalSalud}" ></span>
										</div>
								    	<select class="form-select rounded-pill" id="perSalud" th:field="*{personalSalud}">
								    		<option value="">Seleccione una opción.</option>
											<option th:each="perSalud : ${personalSalud}" th:value="${perSalud.id}" th:text="${perSalud.nombre}+' '+${perSalud.apellido}"></option>
										</select>
								    </div>
								</div>
					    		<div class="pt-2 text-center">
									<button type="reset"
										class="btn btn-danger rounded-pill">
										Cancelar <i class="bi bi-x-circle-fill"></i>
									</button>
									<button type="submit"
										class="btn btn-success rounded-pill">
										Guardar <i class="bi bi-check-circle-fill"></i>
									</button>
								</div>
					    	</form>
					  	</div>
					</div>
				</div>
				<div class="col-md-3 bg-dark">
					
				</div>
			</div>
		</div>
	</body>
</html>